# Importing Required Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the Dataset

In [3]:
data = pd.read_csv('../merged_file.csv')
data.head()

               DATE  B.FAST  LUNCH  Snacks   DINNER
0  01-05-2023 00:00   111.0  195.0   108.0    137.0
1  02-05-2023 00:00    95.0  175.0   115.0    138.0
2  03-05-2023 00:00    95.0  203.0   129.0    134.0
3  04-05-2023 00:00    93.0  184.0   131.0    179.0
4  05-05-2023 00:00   112.0  121.0    95.0    117.0

In [4]:
len(data)

99

In [6]:
# changing the column names to lower case
data.columns = data.columns.str.lower()

In [7]:
def format_columns(data):
    data.columns = data.columns.str.lower()
    data.rename(columns={'b.fast':'breakfast'}, inplace=True)
    return data